.maincss {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
}

.box {
  background-color: rgb(99, 154, 156);
  flex: 1;
  overflow: auto;
  border: 20px solid rgb(0, 0, 0);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.box::-webkit-scrollbar {
  display: none;
}