#project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}
.projectDiv div {
  margin: 10px;
  height: 400px;
  width: 300px;
  background-size: cover;
}

.projectDiv span {
  position: relative;
  bottom: 10px;
}
