
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#port{
    display: flex;
    flex: 1;
    font-weight: bold;
}
#port2{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
}
.iconsocial{
    padding: 5px;
    font-size: 23px;
    color: #010a0f;
}