
#header {
    display: flex;
    flex-direction: row;
    width: 100%;
}
#port{
    display: flex;
    flex: 1;
    font-weight: bold;
    color: #050100;
}
#port2{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    font-weight: bold;
}
.iconsocial{
    padding: 5px;
    font-size: 23px;
    color: #000000;
}
a:link{
    color: #000000;
    font-weight: bold;
}
a:hover{
    color: yellow;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient( 135deg, #235990 10%, #514a9d 100%);
  }