#rname{
    font-size: 36px;
    font-style: italic;
}
#rname1 img{
    width: 220px;
    border-radius: 50%;
    height: 220px;
    border: 1px solid rgb(124, 106, 4),rgb(136, 36, 6);
    box-shadow:10px 10px 8px rgb(114, 116, 223);
}