.prbox{
    
    width: 175px;
    height: 175px;
    background-color: rgb(120, 139, 190);
    border:10px solid rgb(242, 242, 245);
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainprbox{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}