.prbox{
    
    width: 225px;
    height: 225px;
    background-color: rgb(120, 139, 190);
    border:10px solid rgb(242, 242, 245);
}
#mainprbox{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    
}