#skills{
     display: flex;
     flex:1;
    color: rgb(10, 0, 0);

}

  .rslidercontainer{
      display: flex;
    width: 200px;
    height: 10px;
  }
  .dirpl{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 50px;
      padding-right: 50px;

      
  }
  .dirpl img,.dirpl svg{
    width: 75px;
    height: 65px;
  }
  .rhtmlimg{
    color: orangered;
  }
  .rpythonimg{
    color: rgb(206, 206, 21);
  }
  .rcssimg{
    color: rgb(9, 24, 161);
  }
  .rjavascriptimg{
    background-color: rgb(192, 192, 79);
    color: rgb(19, 1, 1);
  }
